<section class="grid-item <%= item.categories %>">
  <article class="">
    <figure>
      <img src="/img/<%=item.image%>">
    </figure>
    <div class="kaart">
      <h1><%=item.title %></h1>
      <date><%=item.date %></date>
      <a class="meerlezen" href="/portfolio/<%=index %>">Discover more</a>
    </div>
  </article>
</section>
